.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.errorBoundary {
  display: flex;
  justify-content: center;
  width: 10vw;
  cursor: pointer;
  margin-left: auto;
}